body {
    background-color: #cedbca;
    color: #717894;
}

.web-menu p {
    float: left;
    padding-right: 50px;
    overflow: hidden;
    font-size: 20px;
}

.italy {
    color: red;
}

.row {
    float: left;
}

rect {
    width: 10vw;
    height: 10vh;
}
