body {
    background-color: #eeeeee;
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    height: 200vh;
}

.side {
    flex: 1;
    background-color: #eeeeee;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}



/*all task~~ is related to task align and design*/

.task-list {
    list-style-type: none; /*will remove all the bullet points*/
    padding: 0;
}

.task-list li { /*target li*/
    display: flex;
    flex-direction: column;
    margin-botton: 10px;
}

.task-list label {
    margin-bottom: 5px;
}

.task-list li input {
    width: 300px; 
}


.side{
    position: relative;
}

/*Basic UI/UX for Active Timer Buttons*/
.button {
    display: inline-block; /*makes it act like a box*/
    padding: 12px 24px; /*12 pixel on top bottom, 24 pixel~ */
    font-size: 17px;
    text-align: center;
    text-decoration: none; /*making sure the website doesn't add underlines*/
    cursor: pointer;
    border: 4px solid #dce5d9;
    color: #17202A; 
    background-color: #FDFEFE;
    font-family: 'IBM Plex Sans KR', san-serif;
    border-radius: 10px; /*higher digits = rounder boxs*/
}

#timer {
    font-size: 25px;
    top: 70vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: #f0f4ef;
}


#button15 {
    top: 80vh;
    left: 3vw;
    position: absolute;
}

#button30 {
    top: 80vh;
    left: 10vw;
    position: absolute; /*depends on screen*/
}

#button45 {
    top: 80vh;
    left: 17vw;
    position: absolute;      
}

#button60 {
    top: 80vh;
    left: 24vw;
    position: absolute;

}
